name: Deploy if not a version bump PR
on:
  pull_request:
    types:
      - closed
jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.merged == true && !contains(github.event.pull_request.labels.*.name, 'Version bump') && !contains(github.event.pull_request.labels.*.name, 'github_actions') }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - run: gh workflow run deploy.yml
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_PAT }}
