name: TDR Run Tests
on:
  pull_request:
  push:
    branches-ignore:
      - main
      - release-*
jobs:
  test:
    runs-on:  ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd
      - uses: nationalarchives/tdr-github-actions/.github/actions/run-git-secrets@c182ad022ddc7a413670e5421221b1a2e47e56c5
      - uses: nationalarchives/tdr-github-actions/.github/actions/slack-send@c182ad022ddc7a413670e5421221b1a2e47e56c5
        if: failure()
        with:
          message: ":warning: Secrets found in repository ${{ inputs.repo-name }}"
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
      - name: Run tests
        run: sbt copySchema test
