name: TDR Run Tests
on:
  pull_request:
  push:
    branches-ignore:
      - main
      - release-*
jobs:
  test:
    runs-on:  ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd
      - uses: nationalarchives/tdr-github-actions/.github/actions/run-git-secrets@5d4fee21ed08f053613a7706e28623c0adc0f5f4
      - uses: nationalarchives/tdr-github-actions/.github/actions/slack-send@5d4fee21ed08f053613a7706e28623c0adc0f5f4
        if: failure()
        with:
          message: ":warning: Secrets found in repository ${{ inputs.repo-name }}"
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
      - name: Run tests
        run: sbt copySchema test
